body
{
background-image: url("Ping\ Pong\ backgroumd.jpg");
background-size: cover;
}


#HEADER{
    width: 100%;
    text-align: left;
}

#HEADER h3{
    display: inline;
   
}


#HEADER button{

    float: right;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
}

#footer{
    position: fixed;
    bottom:0;
    text-align: center;
    background-color: rgb(36, 172, 218);
    color: white;
    line-height: 2.5;
    font-size:20px;
    width: 100%;
}


